
img {
	height: 175px;
	width: 400px;
}
#logo {
	height: 200px;
	width: 450px;
	border: 1px solid white;  
	margin: 175px auto;
}
input {
	width: 250px;
}
#field {
	height: 20px;
	width: 300px;
	margin: auto;
	margin-top: -200px;
	border: 1px solid white;
}
.yolo { 
	margin: auto;	
}
.buttons {
	display: inline-block;
	height: 30px;
	width: 100px;
	border: 1px solid black;
}

/*form {
	margin: auto;
}*/